build
.DS_Store
tmp*
__*
*.out
*.exe
*.o
*.a
*.so
~*
'*
.ipynb_checkpoints
.idea
.vscode
bin
.cache
.gch
doxygen-docs
repo
doxygen*
.nojekyll
.#*
*~
\#*\#
.\#*
compile_commands.json
.project.el
.projectile
TAGS